/*This is the CSS file used for styling a webpage. Pretty excited
Now, it is recommended to install bracket pair colorizer, it colorizes the brackets used in css. For this, go to extensions tab and search for bracket pair colorizer and just install it. Simple to do!

Another extension to be installed is Highlight Matching Tag, as the tile itself reflects, it highligths the matchng(closing and opening tag)

Post installation of highlight matching tag:
Copy the code that's present below the extension title page and paste it on your settings(in json format)
Then change the attributes to 3px and yellow whereever you find 1px and white. Not only that, but you can change color according to your own interest. 
Now, the brackets and the cursor are highlighted in yellow color.*/

/*Now, time to understand why CSS is important to our web pages
CSS(stands for Cascading Style Sheets), is responsible for styling the web pages
HTML - Structure or Skeleton, whereas CSS - Layout, Look
Basic syntax of CSS: 
selector
{
    property1:value1; 
    property2:value2;
    .................
    propertyn:valuen;
}*/

/*Time to improve our webpage using CSS:)*/

/*There are 3 ways to use css to style web pages: 
1. Inline(At the tag)
2. Internal(Inside the head tag using style tag)
3. External

Internal CSS is only applied at the page level.
      
Inline css is applied only at a particular attribute

However, external CSS can be applied at the global level i.e, wherever one wants to apply the propeties mentioned in that particular external css file, on the head of the webpage, link the external css file to the webpage where one wwants to use. 

Inline CSS overrides Internal CSS, Intrenal CSS overrides external CSS.

Syntax for commenting is /**/

/*Selecting all h3 tags and applying the mentioned properties*/
h3 {
  color: crimson;
  font-size: 1rem;
}

/*CSS rule,
h3 {
  color: crimson;
  font-size: 1rem;
} is collectively called as CSS rule */
/* Selectors
In h1{......}, h1 is a selector*/
/* Declaration block, area inside the curly braces is known as declaration block*/
/* Declaration
color: crimson; whole line mentioned here is called a declaration */
/* Property 
In color: crimson; color is the property*/
/* Value 
In color: crimson; crimson is the value*/
